<!doctype html>
<html>
<head>
<title>MA progress</title>
<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

  }
  body {
    font-family: "Interstate Mazda";
    padding: 3%;
    line-height: 1.5;
  }
  p, h1, h2 {
    margin: 1em 0; padding: 0;
  }

@media screen {
  .page {
    position: relative;
    margin-bottom: 5%;
  }
  .subject {
    width: 70%;
  }

  .subject img {
    max-width: 100%;
  }

  aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28%;
    border: solid 1px #ccc;
    padding: 2%;
  }

}
@media print {
  .page {
    position: relative;
    page-break-before: always;
    height: 40%;
    height: 17cm;
    overflow: hidden;
  }
  .subject {
    max-height: 100%;
    max-width: 50%;
  }
  .subject img {
    max-height: 100%;
    max-width: 100%;
  }
  aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba(255,255,255,0.5);
    padding: 1em;
  }

  .noprint {
    display: none;
  }

  .pageno {
    position: absolute;
    bottom: 0;
    right: 0;
  }

}
</style>
</head>
<body>
<% sections.each do |section| %>
<section class="page">
  <div class="subject">
    <% section[:imgs].each do |img| %>
      <img src="<%= img %>"/>
    <% end %>
  </div>
  <aside>
    <%= section[:annotations] %>
    <div class="noprint">(<%= section[:path] %>)</div>
    <div class="pageno">Page <%= section[:pageno] %></div>
  </aside>
</section>
<% end %>

</body>
</html>
